*.csv
.conda/
__pycache__/
*.ipynb_checkpoints/
*.pkl
*.png
*.pdf
*.pickle
*.pyc
*.pyo
*.pyd

# Environnement virtuel
.venv/
venv/
ENV/

# Cache Python
__pycache__/
*.py[cod]

# Variables d'environnement (Clés API)
.env

# Dossiers d'IDE
.vscode/

